@{
    ViewData["Title"] = "Vista Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <button><a asp-controller="Cuentas" asp-action="Index">INGRESAR A LISTA DE CUENTAS</a></button>
    <br>
    <br>
    <button><a asp-controller="Registro" asp-action="Index">INGRESAR A REGISTRO DE CUENTAS</a></button>

</div>
